<ul class="TodoSection">
  <h2 class="TodoSection-title"><%= todo_heading %><span class="TodoSection-status"><%=todos.where(completed:true).count %>/<%=todos.count %></span></h2>
  <% todos.each do |todo| %>
    <li class="TodoSection-todo">
      <label for="Todo1">
        <input class="TodoSection-todoCheckbox" id="Todo1" type="checkbox">
        <%= todo.todo_text.capitalize%>
        <% if show_date %>
          <span class="TodoSection-dueDate"><%= todo.due_date.to_s(:short)%></span>
        <%end%>
        <a class="TodoSection-todoDelete" href="">
        </a>
      </label>
    </li>
  <% end %>
</ul>
